[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anders3408
[access "refs/for/refs/*"]
	read = group user/anders3408
	push = group user/anders3408
	label-Code-Review = -2..+2 group user/anders3408
	label-Verified = -1..+1 group user/anders3408
	rebase = group user/anders3408
	removeReviewer = group user/anders3408
	submit = group user/anders3408
[access "refs/heads/*"]
	read = group user/anders3408
	create = group user/anders3408
	push = +force group user/anders3408
	pushMerge = group user/anders3408
[access "refs/tags/*"]
	push = +force group user/anders3408
	pushTag = group user/anders3408
	pushSignedTag = group user/anders3408
